streamlit
python-dotenv
langchain==1.2.0
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
openai>=1.0.0
faiss-cpu
numpy
pandas
sentence-transformers
dotenv
unstructured
uvicorn
fastapi
pydantic